*{
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
        width:100vw;
        height: 100vh;
}
.brand{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkred;
        padding: 20px;
        color: lightpink;
}
.home{
        display: flex;
        margin: 30px 80px;
        flex-direction: column;
        height: 80vh;
        align-items: center;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.formContainer{
        margin-top: 20px;
        display: flex;
        gap: 4rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}
.input{
        width: 50px;
}
.content{
        padding: 30px;
        font-size: 25px;
}
output {
        text-align: center;
        font-size: 25px;
        border: 2px solid crimson;
        border-radius: 5px;
        width: 30px;
        padding: 10px;
        color: crimson;
}
.submitButton {
        background-color: darkred;
        color: #fff;
        padding: 10px 20px; 
        font-size: 16px; 
        border: none; 
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
}

.submitButton:hover {
        background-color:lightpink;
        color: darkred; 
}