* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
}
body {
    width: 100vw;
    height: 100vh;
    font-size: larger;
}
.brand {
    color: aliceblue;
    background-color: navy;
    padding: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: grid;
    grid-template-columns: auto auto auto;
}
.project-card {
    border: 3px solid navy;
    margin: 20px;
    height: 200px;
    border-radius: 10px;
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.my-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-decoration: none;
    padding: 7px;
    border-color: #000000;
    background-color: pink;
    color: black;
    border-radius: 5px;
    margin: 0px 20px;
}
.my-button:hover {
    color: crimson;
    border: 1px solid crimson;
}
.project-name {
    background-color: rgb(151, 182, 240);
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: navy;
}

@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
        .content {
                display: grid;
                grid-template-columns: auto;
            }
            .project-card{
                font-size: 15px;
            }
            .project-card {
                border: 3px solid navy;
                margin: 20px;
                height: 200px;
                border-radius: 10px;
                color: black;
                text-align: center;
                align-items: center;
                text-decoration: none;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
}